<div class="left">
  <ui-gmap-google-map id="supplierMap" center="map.center" zoom="map.zoom" options="map.options">
      <ui-gmap-layer id="maps" namespace="visualization" type="HeatmapLayer" show="showHeat" onCreated="heatLayerCallback"></ui-gmap-layer>
      <ui-gmap-polygon
              ng-repeat="poly in polys"
              path="poly.path"
              fill="poly.fill">
      </ui-gmap-polygon>
  </ui-gmap-google-map>
</div>
<div class="right">
  <div class="container-fluid">
    <div class="row">
      <form>
        <div class="form-group">
          <label for="ageGroup">Level of Detail</label>
            <select id="levelOfDetail" ng-model="levelOfDetail" ng-options="i.name for i in levelOfDetails">
            </select>
        </div>
        <div class="form-group">
            <div class="wrapper" >
                <div id="skip-value-lower">{{ageGroup.min}}</div>
                <div id="skip-value-upper">{{ageGroup.max}}</div>
                <div id="range"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="questions">Questions</label>
            <select id="questions" ng-model="questionName" ng-change="questionChange()">
              <option ng-repeat="question in questions" value="{{question.name}}">{{question.name}}</option>
            </select>
            <label for="answers">Answers</label>
            <select id="answers" ng-model="questionValues" multiple>
              <option ng-repeat="answer in answers" value="{{answer}}">{{answer}}</option>
            </select>
        </div>        
      </form>
    </div>
  </div>
</div>